<a href="https://colab.research.google.com/github/Mohammadkaviany/MachineLearning/blob/main/L1%20%26%20L2%20Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
from sklearn.linear_model import Ridge ,Lasso ,LogisticRegression
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_excel('/content/Real estate valuation data set.xlsx')
df.head(5)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [25]:
x = df.drop(['Y house price of unit area'], axis=1)
y = df['Y house price of unit area']

In [26]:
a = 3 #float(input())

#split the data into training data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state = 0)

model = LogisticRegression()
model.fit(x, y)

ValueError: ignored